:root {
  --font-pretendard: var(--font-pretendard);
  --font-bvh-anto-plot: var(--font-bvh-anto-plot);
  --font-proxima-nova-hangeul: proxima-nova-hangeul, sans-serif;
}

html,
body {
  background-color: #e5e5e5;
  max-width: 100vw;
  overflow-x: hidden;
  font-family:
    var(--font-pretendard),
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif;
}

/* works detail 페이지에서만 배경색을 검은색으로 */
body:has([data-page="works-detail"]) {
  background-color: #000000;
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
